.contact-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../images/JXSRMADPWBG.png");
  background-size: 50px;
  animation: move 60s linear infinite;
}
.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  width: 40%;
  /* margin-left: 5vw; */
  margin-top: 25vh;
}
.contact-heading h1 {
  text-transform: uppercase;
  width: 70%;
  text-align: left;
  font-size: 4rem;
  background-color: rgb(20, 20, 20);
}
.contact-heading p {
  text-align: justify;
  width: 70%;
  font-size: 1.5rem;
  background-color: rgb(20, 20, 20);
}
.contact-form {
  display: flex;
  min-width: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  font-size: 1.5rem;
  color: white;
}

.contact-form span{
  font-size: 1rem;
  color: gray;
}

.contact-form span a{
  text-decoration: none;
  color: gray;
  font-weight: bold;
  transition: 0.5s ease;
}

.contact-form span a:hover{
  color: white;
}


.contact-form form {
  background-color: rgb(20, 20, 20);
  width: 40vw;
  padding: 2vh 2vw;
}
.contact-form form h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}
.form-field {
  display: flex;
  gap: 1vw;
  margin-bottom: 3vh;
  color: white;
}

.form-field label {
  width: 40%;
}

.form-field input {
  background-color: rgb(10, 10, 10);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: white;
  font-size: 1.2rem;
  width: 70%;
}
.form-field input:focus{
  outline: none;
  border-bottom: 1px solid white;
}

.form-field textarea {
  background-color: rgb(10, 10, 10);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  text-align: justify;
  width: 70%;
  min-height: 10vh;
  resize: none;
  color: white;
  font-size: 1.2rem;
  font-family: jost;
}

.form-field textarea:focus{
  outline: none;
  border-bottom: 1px solid white;
}

.contact-send-btn {
  background-color: unset;
  border: 1px solid white;
  padding: 1vh 2vw;
  color: white;
  font-size: 1.5rem;
  font-family: jost;
  font-weight: 500;
  transition: 0.5s ease;
}

.contact-send-btn:hover {
  background-color: white;
  color: rgb(20, 20, 20);
}



@keyframes move {
  0% {
    background-position: 1vw 1vh;
  }
  100% {
    background-position: 100vw 100vh;
  }
}

@media screen and (max-width: 1000px) {
  .contact-form{
    margin-top: 15vh;
    margin-bottom: 10vh;
  }
  .contact-heading h1 {
    font-size: 2.5rem;
  }
  .contact-heading p {
    font-size: 1rem;
  }
  .form-field{
    flex-direction: column;
  }
  .form-field label{
    width: 100%;
  }
  .form-field input{
    width: 100%;
  }
  .form-field textarea{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact-main {
    flex-direction: column;
  }
  .contact-heading {
    margin-top: 10vh;
    min-width: 80%;
  }
  .contact-heading h1 {
    min-width: 100%;
    font-size: 1.5rem;
  }
  .contact-heading p {
    font-size: 1rem;
    min-width: 100%;
  }
  .contact-form {
    min-width: 80%;
    margin-top: 5vh;
  }
  .contact-form form h1 {
    font-size: 1.5rem;
  }
  .contact-form form {
    min-width: 80%;
  }
  .form-field label {
    font-size: 1rem;
  }
  .form-field input {
    font-size: 1rem;
  }

  .form-field textarea {
    font-size: 1rem;
  }

  .contact-send-btn {
    font-size: 1rem;
  }
}
