.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
.bio-para {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  color: white;
  padding-left: 5vh;
  padding-top: 25vh;
}
.bio-para p {
  font-size: 2.75vh;
  font-weight: 400;
  text-indent: 5vh;
}
.bio img {
  height: 70vh;
  transform: translateX(15vh);
}
