.home-main {
  display: flex;
  background-color: black;
  height: 100vh;
  z-index: -999;
  color: white;
}
/* iframe {
  width: 70%;
  height: 60%;
} */

.home-image-container {
  display: flex;
}

.home-main img {
  filter: blur(2px);
  padding-top: 15vh;
  transform: translateX(-15vh);
  height: 70vh;
}
.home-heading {
  display: flex;
  color: white;
}
.home-main h1 {
  font-size: 10vh;
  transform: translate(-75vh, 10vh);
  padding-left: 20%;
  letter-spacing: 2vh;
  text-transform: uppercase;
  mix-blend-mode: difference;
}
.home-main p {
  display: flex;
  min-width: 40%;
  max-height: 10vh;
  font-size: 5vh;
  transform: translate(-137vh, 25vh);
  /* padding-left: 20%; */
  font-family: "Jost", sans-serif;
  font-weight: 200;
  line-height: 5vh;
  letter-spacing: 1vh;
  mix-blend-mode: difference;
}
.home-main iframe {
  transform: translate(-170vh, 53vh);
  display: flex;
  min-width: 40%;
  height: 40%;
  /* transform: translateY(-80vh); */
}

.home-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translate(-150vh, 40vh);
  transition: 0.5s;
}
.home-social i {
  color: grey;
  margin-bottom: 10vh;
  transition: 0.5s;
}
.home-social i:hover {
  color: white;
  /* box-shadow:  rgb(255, 255, 255);   */
  text-shadow: 0px 0px 10px white;
}

@media screen and (max-width: 800px) {
  .home-main h1 {
    font-size: 10vh;
    transform: translate(-75vh, 10vh);
  }
  .home-main p {
    display: flex;
  }
  .home-main iframe {
    transform: translate(-175vh, 53vh);
    display: flex;
    min-width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 600px) {
  .home-main h1 {
    font-size: 8vh;
    transform: translate(-75vh, 10vh);
  }
  .home-main p {
    font-size: 5vh;
  transform: translate(-128vh, 20vh);
  }
  .home-main iframe {
    transform: translate(-155vh, 60vh);
    display: flex;
    min-width: 60%;
    /* height: 40%; */
  }
  .home-social {
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: translate(-190vh, 50vh);
  }
  .home-social i {
    color: grey;
    margin-right: 5vw;
    transition: 0.5s;
  }
}

@media screen and (max-width: 400px) {
  .home-main img {
    filter: blur(2px);
    padding-top: 15vh;
    transform: translateX(-25vh);
    height: 70vh;
  }
  .home-main h1 {
    font-size: 5vh;
    transform: translate(-75vh, 15vh);
  }
  .home-main p {
    transform: translate(-113vh, 20vh);
  }
  .home-main iframe {
    transform: translate(-135vh, 50vh);
    display: flex;
    min-width: 70%;
    /* height: 40%; */
  }
  .home-social {
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: translate(-170vh, 40vh);
  }
  .home-social i {
    color: grey;
    margin-right: 7vw;
    transition: 0.5s;
  }
}
