/* https://codepen.io/jh3y/pen/xxjxqOL */
.releases-gallery {
  height: 100vh;
  background-color: black;
  color: white;
  padding-left: 10vh;
  padding-bottom: 5vh;
}

.releases-gallery p {
  padding-top: 15vh;
  font-size: 4vh;
  margin: 0;
  /* margin-left: 10vh; */
  margin-bottom: 5vh;
  transform: translate();
}

.releases-gallery-more{
    font-size: 2vh;
    text-transform: uppercase;
}

.releases-gallery ul {
  display: flex;
  /* width: calc(80% - 2rem); */
  width: 95%;
  padding: 0;
  margin: 0;
  margin-top: 15vh;
  list-style-type: none;
}

.releases-gallery li {
  padding: 0;
}

.releases-gallery img {
  max-width: 100%;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  transition: all 0.2s ease;
}

.releases-gallery ul:is(:hover, :focus-within) img {
  opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
  filter: grayscale(calc(1 - var(--active-lerp, 0)));
  filter: blur();
}

:root {
  --lerp-0: 1;
  --lerp-1: 0.5787037;
  --lerp-2: 0.2962963;
  --lerp-3: 0.125;
  --lerp-4: 0.037037;
  --lerp-5: 0.0046296;
  --lerp-6: 0;
}

.releases-gallery a {
  outline-offset: 4px;
}

.releases-gallery li {
  flex: calc(0.1 + (var(--active-lerp, 0) * 1));
  transition: flex 0.2s ease;
}

.releases-gallery li:is(:hover, :focus-within) {
  --active-lerp: var(--lerp-0);
  z-index: 7;
}
.releases-gallery li:has(+ li:is(:hover, :focus-within)),
.releases-gallery li:is(:hover, :focus-within) + li {
  --active-lerp: var(--lerp-1);
  z-index: 6;
}
.releases-gallery li:has(+ li + li:is(:hover, :focus-within)),
.releases-gallery li:is(:hover, :focus-within) + li + li {
  --active-lerp: var(--lerp-2);
  z-index: 5;
}
.releases-gallery li:has(+ li + li + li:is(:hover, :focus-within)),
.releases-gallery li:is(:hover, :focus-within) + li + li + li {
  --active-lerp: var(--lerp-3);
  z-index: 4;
}
.releases-gallery li:has(+ li + li + li + li:is(:hover, :focus-within)),
.releases-gallery li:is(:hover, :focus-within) + li + li + li + li {
  --active-lerp: var(--lerp-4);
  z-index: 3;
}
.releases-gallery li:has(+ li + li + li + li + li:is(:hover, :focus-within)),
.releases-gallery li:is(:hover, :focus-within) + li + li + li + li + li {
  --active-lerp: var(--lerp-5);
  z-index: 2;
}
.releases-gallery
  li:has(+ li + li + li + li + li + li:is(:hover, :focus-within)),
.releases-gallery li:is(:hover, :focus-within) + li + li + li + li + li + li {
  --active-lerp: var(--lerp-6);
  z-index: 1;
}
