.youtube-main {
  display: flexbox;
  height: 100vh;
  align-items: center;
  background-color: black;
  color: white;
  align-items: center;
}

.youtube-main p {
  font-size: 4vh;
  margin: 0;
  margin-left: 10vh;
  margin-bottom: 5vh;
  padding-top: 10vh;
  transform: translate();
}

.youtube-main-gallery {
  padding-top: 5vh;
  display: flex;
}

iframe {
  display: block;
  margin: 0 auto;
  border-radius: 2vh;
}
